h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.android:hover {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 3s ease-in;
    transition-delay: 1s;
}

.android:hover .left_eye, .android:hover .right_eye {
	height: 5px; 
	transition: 1s ease-in-out;
}

.android:hover .left_leg, .android:hover .right_leg {
	-webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    transition: 3s ease-in;
    transition-delay: 1s;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.head:hover .eyes > div { 
	width: 20px; 
	height: 20px;
	transform: scale(3);
	transition: 1s ease-in-out;
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}

.eyes > div {
	display: inline-block;
}


.upper_body { 
	/*width: 300px; 
	height: 150px;*/
	display: flex; 
    justify-content: center;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px;     
    display: inline-block;
} 

.left_leg { 
	margin-left: 45px; 
} 

.right_leg { 
	margin-left: 30px; 
}





